torch_geometric
# torch_sparse
torch
transformers
datasets
jupyter
openpyxl
pymilvus
sentence_transformers
langchain
langchain-huggingface
langchain-milvus
langchain-openai
langchain-ollama
llama-cpp-python
wandb
transformers[torch]
accelerate
matplotlib
pcst-fast